//main colors
$creamWhite: #f3f2f2;
$lightGrey: #a5a5a5;
$mulledWineRed: #922139;

//selector color
$greyGrey: #eaeaea;

//units
$pageWidth: 720px;
$baseFontSize:1.6rem;
$baseFontSizeTitle:1.8rem;
$baseFontSizeMedium:1.4rem;

$baseFontSizeMobile:1.2rem;
$baseFontSizeMobileMini:1.0rem;
